.card{
    background-color: white;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    margin : 0 auto;
    box-sizing: border-box;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.5);
}

.card .header{
    width: 100%;
    height: 200px;
    background-image: url("https://cdn.grid.id/crop/0x0:0x0/360x240/photo/2023/03/14/jadwal-pertandingan-all-england-20230314113151.jpg");
    background-size:cover;
}

.card .display {
    width: 100%;
    display:  flex;
    justify-content: center;
    text-align: center;
    gap : 30px;
}


.card h1 {
    text-align: center;
}


.card .container-button{
    display: flex;
    justify-content: center;
    /* gap : 10px; */
}

.card .container-button button {
    flex : 1;
    border: none;
    padding : 20px;
    border-radius: 0;
}

.card .container-button button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.card .container-button button:nth-child(1) {
    background-color: lightblue;
}

.card .container-button button:nth-child(2) {
    background-color: lightgreen;
}


.card .container-button button:nth-child(3) {
    background-color: lightcoral;
}


.card .display h3{
    cursor: pointer;
}